html, body {
    font-size: 18px;
}

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    background: hsl(229, 30%, 44%);
    color: #fff;
    width: 100%;
    text-align: center;
    padding-top: 3em;
    font-weight: 300;
}

h1 {
    font-weight: 200;
    font-size: 2.6em;
    line-height: 1.6em;
}

table {
    margin: 2.5em 0;
    font-size: 1.4em;
}

a, a:active, a:focus {
    color: #DDD;
    text-decoration: underline;
}

a:hover {
    color: #EEE;
    text-decoration: none;
}

a.btn {
    color: #FFF;
    text-decoration: none;
    font-size: .9em;
}

footer {
    color: hsl(230, 55%, 70%);
    font-size: .8em;
    padding-top: 3em;
    padding-bottom: 1em;
}

footer a, footer a:hover {
    color: hsl(230, 47%, 66%);
}
